body {
  overflow: hidden;
}
.header {
  position: fixed;
  top: 1px;
  left: 0;
  right: 0;
  z-index: 22;
  display: flex;
  align-items: center;
  background: rgb(22, 22, 22);
  height: var(--header-height);
}
.header__notification {
  position: absolute;
  top: 150%;
  width: 404px;
  border: 1px solid #d3d3d3;
  background-color: var(--white-color);
  right: 15%;
  border-radius: 2px;
  animation: headerNotifiGrow ease-in 0.2s;
  transform-origin: calc(100% - 32px) top;
  -webkit-animation: headerNotifiGrow ease-in 0.2s;
  -ms-animation: headerNotifiGrow ease-in 0.2s;
  -o-animation: headerNotifiGrow ease-in 0.2s;
  -moz-animation: headerNotifiGrow ease-in 0.2s;
  will-change: opacity, transform;
  cursor: default;
  display: none;
  z-index: 1;
}
.header__notification::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  border-width: 20px 26px;
  right: -1px;
  top: -28px;
}
.header__notification::before {
  content: "";
  width: 25%;
  height: 20px;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: -16px;
}
.header__introduct-item-notification:hover .header__notification {
  display: block;
}
@keyframes headerNotifiGrow {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.header__notification-heading {
  height: 40px;
  background-color: var(--white-color);
}
.header__notification-heading h3 {
  color: #999;
  line-height: 40px;
  margin: 0 0 0 12px;
  font-size: 1.4rem;
  font-weight: 400;
  user-select: none;
}
.header__notification-list {
  padding-left: 0;
}
.header__notification-footer,
.header__notification-item {
  display: flex;
}
.header__notification-item:hover {
  background-color: #f7f7f7;
}
.header__notify-item--viewed {
  background-color: rgba(238, 77, 45, 0.08);
}
.header__notification-link {
  display: flex;
  width: 100%;
  padding: 6px 12px;
  text-decoration: none;
}
.header__notification-body {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header__notification-img {
  width: 48px;
  object-fit: contain;
}
.header__notification-name {
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.8rem;
}
.header__notificaton-desc {
  display: block;
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: #756f6e;
  margin-top: 3px;
}
.header__notification-footer-btn {
  text-decoration: none;
  padding: 8px 0;
  width: 100%;
  color: var(--text-color);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
}
.header__nav-acc {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  padding-right: 0;
}
.header__nav-acc span {
  font-size: 1.2rem;
  color: var(--black-color);
  padding-left: 4px;
}
.header__nav-acc .header__nav-acc-name {
  color: var(--white-color);
  font-size: 1.2rem;
}
.header__nav-acc:hover .header__introduct-acc-list {
  visibility: visible;
  top: calc(100% + 14px);
  opacity: 1;
}
.header__introduct-acc-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.header__introduct-link {
  margin-left: 4px;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  text-decoration: none;
  background-image: url();
}
.mlemmlem {
  margin-top: -2px;
}
.header__introduct-acc-list {
  position: absolute;
  top: 300%;
  right: -6px;
  background-color: var(--white-color);
  border-radius: 2px;
  width: 200px;
  list-style: none;
  padding: 14px;
  z-index: 1;
  visibility: hidden;
  transition: all 0.3s linear 0s;
  opacity: 0;
  box-shadow: 0 1px 2px #e0e0e0;
}
.header__introduct-acc-list::before {
  content: "";
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 1px;
  top: -27px;
  z-index: -10;
}
.header__introduct-acc-list::after {
  content: "";
  width: 58%;
  display: block;
  position: absolute;
  top: -8px;
  right: 0;
  height: 8px;
}
.header__introduct-acc-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 4px 16px;
  display: block;
}
.header__introduct-acc-item--separate {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.header__introduct-acc-item i {
  padding-right: 8px;
}
.header__introduct-acc-item a:hover {
  background-color: #fafafa;
}
.header__introduct-acc-item a:first-child {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.header__introduct-acc-item a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.header__top {
  width: 100%;
  padding-left: 14px;
}
.header__logo-img {
  width: 120px;
  color: var(--star-gold--color);
}
.header__search {
  display: flex;
  align-items: center;
  max-height: 19px;
  margin-right: 24px;
  max-width: 180px;
}
.header__search-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid var(--white-color);
  width: 100%;
}
.header__icon-bars {
  font-size: 2.6rem;
  color: var(--white-color);
  display: block;
  width: 20px;
  height: 21px;
  height: 100%;
  cursor: pointer;
}
.header__cart-category {
  margin-top: -2px;
  margin-right: 8px;
}
.header__search-menu-list {
  min-width: 218px;
  height: 0;
  background-color: #fff;
  box-shadow: 3px 3px 0 rgb(0 0 0 / 20%);
  padding: 0 15px;
  position: absolute;
  top: calc(100% + 2px);
  overflow-y: scroll;
  transition: all 0.3s ease-out 0s;
  list-style: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.header__search-menu-list::-webkit-scrollbar {
  width: 10px;
}
.header__search-menu-list::-webkit-scrollbar-track {
  display: none;
}
.header__search-menu-list::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}
.header__search-menu-list::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
.header__search-menu-list > a {
  display: block;
  height: 2rem;
}
.header__search-checkbox-menu:checked ~ .header__search-menu-list {
  height: 200px;
  padding: 15px;
  border-top: 1px solid #ccc;
  z-index: 10;
}
@keyframes growHeight {
  from {
    max-height: 0;
  }
  to {
    max-height: 20vh;
  }
}
.header__search-checkbox-icon {
  display: block;
  position: relative;
}
.header__search-menu-item:hover .header__search-menu-link {
  color: #ffc229;
  font-size: 1.4rem;
}
.header__search-menu-link {
  text-decoration: none;
  display: block;
  width: 100%;
  padding-left: 12px;
  color: rgb(46, 46, 46);
  font-size: 1.3rem;
}
.header__search-input {
  font-size: 1.2rem;
  height: 100%;
  background: transparent none repeat scroll 0 0;
  border: none;
  outline: none;
  max-width: 115px;
  position: relative;
  width: 100%;
  color: var(--white-color);
  animation: changeWidth linear 0.5s;
  will-change: animation;
  transition: all 0.5s linear 0s;
}
.header__search-input:focus {
  animation: changeWidth linear 0.2s;
  min-width: 150px;
}
.header__search-input::placeholder {
  color: var(--white-color);
  font-size: 1.5rem;
}
.header__search-input:focus ~ .header__search-history {
  width: 150%;
  display: block;
}
.header__icon-search {
  height: 100%;
  font-size: 1.6rem;
  color: var(--white-color);
  width: 20px;
  height: 21px;
  cursor: pointer;
  margin-left: -8px;
}
@keyframes changeWidth {
  from {
    min-width: 100px;
  }
  to {
    min-width: 150px;
  }
}
.header__search-menu {
  position: relative;
}
.header__icon-search:hover {
  color: var(--star-gold--color);
}
.header__search-history {
  position: absolute;
  background-color: var(--white-color);
  margin-top: 2px;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgb(173, 168, 168);
  overflow: hidden;
  z-index: 1;
  top: calc(100% + 2px);
  left: 0;
  width: 0;
  display: none;
}
.header__history-heading {
  margin: 8px 12px;
  font-size: 1.2rem;
  color: #999;
  font-weight: 400;
}
.header__history-list {
  padding-left: 0;
  list-style: none;
  margin: 6px 0 0;
}
.header__history-item {
  height: 28px;
}
.header__history-item:hover {
  background-color: rgba(79, 79, 79, 0.5);
}
.header__history-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--text-color);
  line-height: 28px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.header__nav {
  margin-top: 8px;
}
.header__cart-body {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header__cart-list::after {
  position: absolute;
  content: "";
  right: -1px;
  top: -22px;
  border-width: 16px 17px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  cursor: pointer;
}
.header__cart-wrap {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.header__cart-wrap::after {
  content: "";
  width: 100%;
  top: calc(100% - 16px);
  left: 0;
  position: absolute;
  height: 28px;
}
.header__cart-wrap:hover .header__cart-list {
  display: block;
}
.header__cart-icon {
  color: var(--white-color);
  font-size: 2.8rem;
  padding: 2px 6px;
  position: relative;
}
.header__cart-list {
  position: absolute;
  top: calc(100% + 7px);
  right: 12px;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 1px 2.0375rem 0 rgba(0, 0, 0, 0.2);
  animation: fadeIn ease-in 0.2s;
  cursor: default;
  z-index: 1;
  display: none;
}
.header__cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
  padding: 4px 0;
}
.header__cart-list-item {
  padding-left: 0;
  list-style: none;
  overflow-y: auto;
  max-height: 54vh;
}
.header__cart-item {
  display: flex;
  align-items: center;
}
.header__cart-item:hover {
  background-color: #f8f8f8;
}
.header__cart-img {
  width: 44px;
  height: 42px;
  margin: 12px;
  border: 1px solid #e8e8e8;
}
.header__cart-item-info {
  width: 100%;
  margin-right: 12px;
}
.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}
.header__cart-item-name {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  margin: 0;
  line-height: 16px;
  max-height: 32px;
  overflow: hidden;
  text-align: justify;
  flex: 1;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}
.header__cart-item-multiply {
  font-size: 0.9rem;
  margin: 0 4px;
  color: #757575;
}
.header__cart-item-quantity {
  color: #757575;
  font-size: 1.2rem;
}
.header__cart-item-body {
  display: flex;
  justify-content: space-between;
}
.header__cart-view-cart {
  float: right;
  margin: 0 12px 12px 0;
}
.header__cart-view-cart:hover {
  background-color: #80bfff;
}
.header__cart-item-description {
  color: #757575;
  font-size: 1.2rem;
  font-weight: 300;
}
.header__cart-item-remove {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
  opacity: 0.9;
  padding: 4px;
}
.header__cart-item-remove:hover {
  color: #f05d41;
  cursor: pointer;
}
.header__cart-no_cart-img {
  width: 55%;
}
.header__cart-list-no-cart {
  padding: 24px 0;
  display: none;
}
.header__cart-notice {
  position: absolute;
  padding: 2px 6px;
  top: -6px;
  left: 26px;
  background-color: var(--black-color);
  color: var(--primary-color);
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-radius: 10px;
}
.header__cart-list-no_cart .header__cart-no_cart-img,
.header__cart-list-no_cart .header__cart-list-no_cart-message {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header__cart-list-no_cart-message {
  font-size: 1.4rem;
  margin-top: 18px;
  margin-bottom: 0;
  color: var(--text-color);
}
.header__nav-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1;
  animation: fadeIn linear 0.2s;
}
.header__cart-body-item {
  padding: 0 4px;
}
.header__nav-link {
  text-decoration: none;
  display: block;
  color: rgba(250, 250, 250, 0.95);
  font-size: 1.5rem;
  padding-right: 16px;
  position: relative;
}
.header__nav-link::before {
  content: "";
  height: 10px;
  width: 100%;
  display: block;
  background-color: transparent;
  bottom: -9px;
  position: absolute;
}
.header__nav-link:hover:after {
  width: 100%;
  background: #fec229;
}
.header__nav-uniform-item:hover::after,
.header__nav-blog-list-item:hover::after,
.header__nav-the-news-item:hover::after {
  width: 90%;
  background: #fec229;
}
.header__nav-uniform-item::after,
.header__nav-blog-list-item::after,
.header__nav-the-news-item::after,
.header__nav-link::after {
  content: "";
  width: 0%;
  background: #fec229;
  display: block;
  height: 2px;
  transition: all 0.3s linear 0s;
}
.header__nav-link:hover {
  opacity: 0.8;
  color: #fec229;
}
.header__nav-link-arrived {
  color: #fec229;
}
.header__nav-logo {
  display: flex;
  align-items: center;
}
.header__nav-logo-link {
  text-decoration: none;
  display: flex;
  font-family: Fantasy, Tribal Dragon;
  color: var(--white-color);
  font-size: 2.8rem;
  line-height: 2rem;
  width: 100%;
  padding-right: 24px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__nav-list {
  padding-left: 0;
  list-style: none;
  display: flex;
}
.header__product {
  background-color: var(--white-color);
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 1100px;
  top: 600%;
  left: -108%;
  opacity: 0;
  visibility: hidden;
  box-shadow: rgb(193, 193, 193) 0 3px 5px -1px;
  transition: all 0.5s ease-out 0s;
}
.header__product::after {
  position: absolute;
  content: "";
  left: 8%;
  top: -24px;
  border-width: 16px 17px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  cursor: pointer;
}
.header__nav-item-uniform::before,
.header__nav-item-blog-list::before,
.header__nav-item-the-news::before,
.home__nav-item-collection::before,
.header__nav-item-product::before {
  content: "";
  width: 100%;
  height: 24px;
  top: 100%;
  left: 0;
  position: absolute;
}
.header__nav-item {
  display: flex;
  align-items: center;
  padding-top: 4px;
}
.header__nav-item-uniform,
.header__nav-item-blog-list,
.header__nav-item-the-news,
.home__nav-item-collection,
.header__nav-item-product {
  position: relative;
}
.header__nav-item-uniform:hover .header__nav-uniform,
.header__nav-item-blog-list:hover .header__nav-blog-list,
.header__nav-item-the-news:hover .header__nav-the-news,
.home__nav-item-collection:hover .header__collection,
.header__nav-item-product:hover .header__product {
  opacity: 1;
  visibility: visible;
  top: calc(100% + 12px);
}
.header__product-link:hover {
  padding-left: 2px;
  color: var(--star-gold--color);
}
.header__product-body-item {
  margin: 28px 0;
}
.header__product-body-heading {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.header__product-list {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.header__product-link {
  text-decoration: none;
  display: block;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 8px 0;
}
.header__collection {
  width: 970px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(193, 193, 193) 0 3px 5px -1px;
  display: flex;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  left: -180%;
  z-index: 10;
  top: 600%;
  padding: 22px 10px;
  transition: all 0.5s ease-out 0s;
}
.header__collection::after {
  position: absolute;
  content: "";
  left: 19.2%;
  top: -24px;
  border-width: 16px 17px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  cursor: pointer;
}
.header__collection-item {
  max-height: 400px;
  overflow-y: auto;
}
.collection__link-img {
  width: 100%;
  display: block;
  position: relative;
  background-image: url(../../img/collection.jpg);
  height: 364px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.collection__link-img:hover::before,
.collection__link-img:hover::after {
  width: 100%;
  height: 100%;
}
.collection__link-img::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  transition: all 0.5s ease-out 0s;
}
.collection__link-img::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  transition: all 0.5s ease-out 0s;
}
.collection__link-text {
  flex-wrap: wrap;
  display: flex;
  margin-top: 20px;
}
.collection__link-secondary-text {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary-text-color);
  padding: 0 8px 0 6px;
}
.collection__item-title {
  font-size: 1.6rem;
  width: 100%;
  border-bottom: 1px solid #b2b2b2;
  padding-bottom: 8px;
  color: var(--black-color);
  font-size: 450;
}
.collection__item-category {
  list-style: none;
  padding-left: 0;
  padding-top: 12px;
}
.collection__item-category-item a:hover {
  padding-left: 0;
  color: var(--star-gold--color);
}
.collection__item-category-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 12px 2px;
  display: block;
  font-weight: 400;
  position: relative;
}
.collection__item-brands {
  margin-top: 20px;
}
.collection__item-brand {
  width: 100%;
  text-align: center;
  display: block;
  height: 70px;
  border: 1px solid var(--black-color);
  margin-bottom: 28px;
  overflow: hidden;
}
.collection__item-category-item {
  position: relative;
}
.collection__item-brand:hover img {
  transform: scale(1.2);
}
.collection__item-category-item a,
.collection__item-brand img {
  height: 100%;
  transition: all linear 0.2s;
}
.collection__item-brand.collection__item-brand-check {
  border: 1px solid var(--star-gold--color);
}
.category-item_desc-fall,
.category-item_desc-spring,
.category-item_desc-summer,
.category-item_desc {
  margin-left: 12px;
  display: none;
  max-height: 68px;
  overflow-y: auto;
  animation: cateogory__collection linear 0.3s;
  will-change: animation;
}
.category-item-desc-list {
  list-style: none;
  padding-left: 0;
}
.category-item-desc-item a {
  padding: 4px 0;
  font-size: 1.2rem;
}
.category-item-desc-item a:hover {
  font-size: 1.3rem;
  padding-left: 4px;
}
@keyframes cateogory__collection {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 68px;
  }
}
.collection__item-category-item-fall-2021:hover .category-item_desc-fall,
.collection__item-category-item-spring-2021:hover .category-item_desc-spring,
.collection__item-category-item-spring-summer:hover .category-item_desc-summer,
.collection__item-category-item-spring:hover .category-item_desc {
  display: block;
}
.collection__item-category-item-fall-2021:hover .collection__item-category-link,
.collection__item-category-item-spring-2021:hover
  .collection__item-category-link,
.collection__item-category-item-spring-summer:hover
  .collection__item-category-link,
.collection__item-category-item-spring:hover .collection__item-category-link {
  color: var(--star-gold--color);
}
.header__nav-uniform,
.header__nav-blog-list,
.header__nav-the-news {
  position: absolute;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(193, 193, 193) 0 3px 5px -1px;
  left: calc(0% - 16px);
  opacity: 0;
  visibility: hidden;
  width: 220px;
  z-index: 10;
  top: 600%;
  padding: 12px 4px;
  text-overflow: ellipsis;
  transition: all 0.5s ease-out 0s;
}
.header__nav-uniform::after,
.header__nav-blog-list::after,
.header__nav-the-news::after {
  position: absolute;
  content: "";
  left: calc(0% + 22px);
  top: -24px;
  border-width: 16px 17px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  cursor: pointer;
}
.header__nav-uniform::after {
  left: calc(0% + 36px);
}
.header__nav-blog-list::after {
  left: calc(0% + 34px);
}
.header__nav-uniform-list,
.header__nav-blog-list-list,
.header__nav-the-news-list {
  padding-left: 0;
  list-style: none;
}
.header__nav-uniform-link,
.header__nav-blog-list-link,
.header__nav-the-news-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 8px 12px;
  width: 100%;
  display: flex;
  align-items: center;
}
.header__nav-the-news-link {
  display: block;
  text-align: center;
}
.header__nav-uniform-link img {
  width: 16%;
  padding-right: 4px;
}
.header__nav-uniform-link span {
  width: 80%;
}
.header__nav-uniform-item:hover a,
.header__nav-the-news-item:hover a,
.header__nav-blog-list-item:hover a {
  color: var(--star-gold--color);
  padding-left: 16px;
}
.header__introduct-item-voice .icon__ai-voice {
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  padding-right: 8px;
  position: relative;
}
.icon__ai-voice p {
  color: red;
  position: absolute;
  width: 500%;
  top: 127%;
  right: -180%;
}
.header__cart-body-item-mobile {
  width: 100vw;
  position: fixed;
  background-color: var(--white-color);
  top: 100px;
  left: 0;
  height: 68px;
  display: flex;
  align-items: center;
  display: none;
}
.header__search-input-mobile {
  border: none;
  border-bottom: 1px solid var(--black-color);
  font-size: 2rem;
  width: 86vw;
  color: var(--black-color);
  font-family: "Oswald", sans-serif;
  margin-left: 18px;
}
.header__icon-search-mobile {
  font-size: 2rem;
}
.header__icon-search.header__icon-search-mobile {
  display: none;
  margin-right: 14px;
}
.loader {
  width: 100%;
  height: 100%;
  background: #99f;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: block;
  overflow: hidden;
}
.icon_load-page {
  font-size: 80px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
}
.xoay {
  animation: xoay 1.5s linear infinite;
  -moz-animation: xoay 1.5s linear infinite;
  -ms-animation: xoay 1.5s linear infinite;
  -o-animation: xoay 1.5s linear infinite;
  -webkit-animation: xoay 1.5s linear infinite;
}
@-webkit-keyframes xoay {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
